/* CONTEXTO PARA EL TEXTO */
.iphone-float {
    position: relative;
}

/* TEXTO ROJO FIJO (NO SE INVIERTE) */
.iphone-text-fixed {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 140px;
    line-height: 1.3;
    text-shadow: 0 0 8px rgba(255,0,0,0.9);
    z-index: 20;
    pointer-events: none;
}





